
 <% include partials/head %>
	<body>
	 <header class="header_container">
	<!--  <div class="about-me-container">
	 <div class="top-line"></div>
	 <div class="left-line header-line"></div>
	 <div class="right-line header-line"></div>
	 	<div class='about-text-container col-md-6'>
	 		<div class="about-me-text"> Hey, I’m KIRAN GAUD, an artist,marketeer
				based in Mumbai</div>
	 	
	 	<div class="socials-list">
	 		<ul>
	 			<li>FACEBOOK</li>
	 			<li>LINKEDIN</li>
	 			<li>INSTAGRAM</li>
	 			<li>EMAIL</li>
	 		</ul>
	 	</div>
	 	<div class="close-btn col-md-12 pad-lr-0"><i class="fa fa-close"></i><span>close</span></div>
	 	</div>
	 	
	 	<img src="/images/about.svg">
	 </div> -->

	 <!-- COMMENT BY ALNOOR AS NOT REQUIRED BY KIRAN ON 10-04-16 -->
	 <span id="logo-letter"><strong>K</strong></span>
	 	 	<a class="logo" href="#">
		 <svg enable-background="new 0 0 48.3 11" viewBox="0 0 48.3 11" xmlns="http://www.w3.org/2000/svg" class="an-logo"><path d="M.004 10.13L9.338.794l.85.85-9.335 9.333zm18.688.043L9.358.84l.85-.85 9.332 9.335zm.003-.063L28.03.774l.848.85-9.334 9.332zm9.33-9.268l.85-.848 9.323 9.344-.85.848zm9.33 9.26l10.11-10.11.85.847-10.11 10.11z" clip-rule="evenodd" fill="#4bea91" style="fill: rgb(255, 236, 80);"/></svg></a>
		 <a href="#" class="btn-infos">EMAIL</a>
		<div class="header_background">
				<div class="container container_title">
					<div id="title-container">
						<span id="title"><strong>KI<span class="R-tag">R</span>AN</strong>&nbsp;GAUD</span>
						<span class="line"></span>
					</div>
					<div id="nav-list-title">
						<ul>
							<li>About</li>
							<li>Art</li>
							<li>Photography</li>
							<li>Blog</li>
						</ul>
					</div>
				</div>
				<div class="scroll-container">
					<span><i class="fa fa-arrow-circle-down"></i>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 30.4" enable-background="new 0 0 16 30.4"><path fill-rule="evenodd" clip-rule="evenodd" fill="#333" d="M8 30.4l8-8-1.4-1.4L9 26.6V0H7v26.6L1.4 21 0 22.4l8 7.9v.1z"/></svg>
					</span>
				</div>
		</div>
			</header>
		<div class="nav-list">
		<div class="nav-list-container">
			<!-- <ul>
				<li>HOME</li>
				<li>ARCHIVE</li>
				<li>WORK</li>
				<li>ABOUT</li>
			</ul>
 -->			<!-- <div  class="social-btn instagram-btn">
			  <div class="button">
			    <a href="https://instagram.com/KIRANKHAN" class="twitter-follow-button" data-show-count="false" data-size="large">@KIRANKHAN</a>
			  </div>
			  <div class="cover">
			    <div class="innie"><i class="fa fa-instagram"></i></div>
			    <div class="spine"></div>
			    <div class="outie"><i class="fa fa-instagram"></i></div>
			  </div>
		      <div class="shadow"></div>
			</div>
			<div  class="social-btn twitter-btn">
			  <div class="button">
			    <a href="https://fb.com/KIRANKHAN" class="twitter-follow-button" data-show-count="false" data-size="large">@KIRANKHAN</a>
			  </div>
			  <div class="cover">
			    <div class="innie"><i class="fa fa-facebook"></i></div>
			    <div class="spine"></div>
			    <div class="outie"><i class="fa fa-facebook"></i></div>
			  </div>
		      <div class="shadow"></div>
			</div> -->
<!-- <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
		</div>
		<div class="back">
		</div>
	</div>
</div> -->
			<ul>
				<li>
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front facebook-front">
								<i class="fa fa-facebook"></i>
							</div>
							<div class="back facebook-back">
								<i class="fa fa-facebook"></i>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front twitter-front">
								<i class="fa fa-twitter"></i>
							</div>
							<div class="back twitter-back">
								<i class="fa fa-twitter"></i>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front instagram-front">
								<i class="fa fa-instagram"></i>
							</div>
							<div class="back instagram-back">
								<i class="fa fa-instagram"></i>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front linked-in-front">
								<i class="fa fa-linkedin"></i>
							</div>
							<div class="back linked-in-back">
								<i class="fa fa-linkedin"></i>
							</div>
						</div>
					</div>
				</li>
				<!-- <li><i class="fa fa-twitter"></i></li>
				<li><i class="fa fa-instagram"></i></li>
				<li><i class="fa fa-linkedin"></i></li> -->
				<!-- <li>
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front">
								<i class="fa fa-facebook golden"></i>
							</div>
							<div class="back">
								<i class="fa fa-facebook black"></i>
							</div>
						</div>
					</div>
				</li> -->
			</ul>
			</div>
		</div>
			<div class="social">

			</div>
	
		<div class="row blog-title-container">
				<!-- <h3 class="blog-title">Blog</h3> -->
			</div>
		<section id="container">
			<!-- <div id="popluar" class="col-md-2 pad-0">
			<div class="popular-caret">
				<h4>Popular</h4>
			</div>
				<div class="popular-article">
					<a href="#">
						<div class="lead-image">
							<img src="/images/popular1.jpg">
						</div>
						<h1 class="article-title">Basketball superfan gifts his Los Angeles Big Lebowski porn palace and architectural icon to LACMA...</h1>
					</a>
				</div>
				<div class="popular-article">
					<a href="#">
						<div class="lead-image">
							<img src="/images/popular1.jpg">
						</div>
						<h1 class="article-title">Basketball superfan gifts his Los Angeles Big Lebowski porn palace and architectural icon to LACMA...</h1>
					</a>
				</div>
			</div>
			<div id="content-container" class="col-md-7 pad-0">
				<section id="wrapper">
				</section>
			</div>
			<div id="social-events" class="col-md-3 pad-0">
				
			</div> -->
			
			<div class="col-md-3 left-sidebar">
				<aside class="latest-post">
					<h3 class="sidebar-title-h3">LATEST POSTS</h3>
					<ul></ul>
				</aside>
				<aside class="categories">
					<h3 class="sidebar-title-h3">CATEGORIES</h3>
					<ul>
						<li>FASHION</li>
						<li>ART</li>
						<li>BOOKS</li>
						<li>TRAVEL</li>
						<li>WORK</li>
						<li>PHOTOGRAPHY</li>
						<li>SHORT STORIES</li>
					</ul>
				</aside>
				<aside class="search">
					
				</aside>
				<!-- <aside class="random-post">
					<h3 class="sidebar-title-h3">RANDOM POSTS</h3>
					<ul></ul> -->
				</aside>

			</div>
			<!-- <div class="posts"> -->
			<div class="posts-parent-container col-md-6">
				<div class="posts-container col-md-12">
					<div class="post-header">
						<span>Travel</span>
						<h2 class="post-title"><a href="">LONDON-PARIS-LONDON</a></h2>
					</div>
					<div class="post-entry">
						<span>MARCH 01,2016</span>
						<span class="post-comments"><a href="">NO COMMENTS</a></span>
					</div>
					<div class="post-media ">
						<div href="#" class="col-md-7 img-media">
							<img src="/images/DSC_0170.jpg">
						</div>
						<div href="#" class="col-md-5 img-media">
							<img src="/images/DSC_0166(6).jpg">
						</div>
						<div href="#" class="col-md-6 img-media">
							<img src="/images/DSC_0112-2.jpg">
						</div>
						<div href="#" class="col-md-6 img-media">
							<img src="/images/DSC_0314.jpg">
						</div>
					</div>
					<div class="post-inner ">
						<div class="post-content">
							<p>
								Before you can experience authentic Spanish tapas, piazzas in Rome or rooftop terraces in Prague, an important to-do list stands between you and your European vacation. The logistics involved in planning a trip to Europe may seem tedious or overwhelming, but the more prepared you are, the greater your chances of a successful trip that lives up to your expectations. That's why it's important to do a bang-up job creating an itinerary, arranging transportation and tackling the brass tacks before you're off to the Continent.
							</p>
						</div>
						<!-- <div class="post-meta">
							<a href="" class="post-meta-date"><i class="fa fa-clock-o"></i>&nbsp;July 12,2016</a>
							<a class="post-meta-comment" href=""><i class="fa fa-comments"></i>&nbsp;4</a>
						</div> -->
					</div>
					<div class="entry-utils group">
						<a href="#" class="read-more">Continue Reading</a>
						<ul class="socials">
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="posts-container col-md-12">
					<div class="post-header">
						<span>Photography</span>
						<h2 class="post-title"><a href="">The Church of St. John</a></h2>
					</div>
					<div class="post-entry">
						<span>JUNE 05,2016</span>
						<span class="post-comments"><a href="">NO COMMENTS</a></span>
					</div>
					<div class="post-media ">
						<div href="#" class="col-md-7 img-media">
							<img src="/images/afghanChurch-1.jpg">
						</div>
						<div href="#" class="col-md-5 img-media">
							<img src="/images/afghanChurch-2.jpg">
						</div>
						<div href="#" class="col-md-6 img-media">
							<img src="/images/afghanChurch-3.jpg">
						</div>
						<div href="#" class="col-md-6 img-media">
							<img src="/images/afghanChurch-4.jpg">
						</div>
					</div>
					<div class="post-inner ">
						<div class="post-content">
							<p>
								The Church of St. John the Evangelist, better known as the Afghan Church is an Anglican Church in Mumbai, India, built by the British to commemorate the dead of the First Afghan War and the disastrous 1842 retreat from Kabul.The imposing edifice was constructed using locally available buff-coloured basalt and limestone. Inside it is known for its wide gothic arches and beautiful stained glass windows. The chapel has a nave and aisle with a chancel 50 ft (15 m) in length and 27 ft (7 m) in width. Butterfield's tiles used for the geometric floor pattern were imported from England.
							</p>
						</div>
						<!-- <div class="post-meta">
							<a href="" class="post-meta-date"><i class="fa fa-clock-o"></i>&nbsp;July 12,2016</a>
							<a class="post-meta-comment" href=""><i class="fa fa-comments"></i>&nbsp;4</a>
						</div> -->
					</div>
					<div class="entry-utils group">
						<a href="#" class="read-more">Continue Reading</a>
						<ul class="socials">
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="social-icon">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- <div class="posts-container col-md-12">
					<div class="post-media ">
						<a href="#">
							<img src="/images/DSC_0170.jpg">
						</a>
					</div>
					<div class="post-inner  ">
						<div class="post-header">
							<h2 class="post-title"><a href="">A trip towards the North</h2></a>
						</div>
						<div class="post-content">
							<p>
								Kebnekaise (Swedish pronunciation: [ˈkɛbnəˈkaisə]; from Sami Giebmegáisi or Giebnegáisi, “Cauldron Crest”) is the highest mountain in Sweden. The Kebnekaise massif GAUD KIRAN jhbhdbf sjdhfbsjhdf bfsdfhlb  kjdkasbd
							</p>
						</div>
						<div class="post-meta">
							<a href="" class="post-meta-date"><i class="fa fa-clock-o"></i>&nbsp;July 12,2016</a>
							<a class="post-meta-comment" href=""><i class="fa fa-comments"></i>&nbsp;4</a>
						</div>
					</div>
				</div>
				<div class="posts-container col-md-12">
					<div class="post-media ">
						<a href="#">
							<img src="/images/DSC_0314.jpg">
						</a>
					</div>
					<div class="post-inner ">
						<div class="post-header">
							<h2 class="post-title"><a href="">A trip towards the North</h2></a>
						</div>
						<div class="post-content">
							<p>
								Kebnekaise (Swedish pronunciation: [ˈkɛbnəˈkaisə]; from Sami Giebmegáisi or Giebnegáisi, “Cauldron Crest”) is the highest mountain in Sweden. The Kebnekaise massif akjsdaskdj asdakjsdh ase we jasjdas
							</p>
						</div>
						<div class="post-meta">
							<a href="" class="post-meta-date"><i class="fa fa-clock-o"></i>&nbsp;July 12,2016</a>
							<a class="post-meta-comment" href=""><i class="fa fa-comments"></i>&nbsp;4</a>
						</div>
					</div>
				</div>
				<div class="posts-container col-md-12">
					<div class="post-media ">
						<a href="#">
							<img src="/images/DSC_0112-2.jpg">
						</a>
					</div>
					<div class="post-inner ">
						<div class="post-header">
							<h2 class="post-title"><a href="">A trip towards the North</h2></a>
						</div>
						<div class="post-content">
							<p>
								Kebnekaise (Swedish pronunciation: [ˈkɛbnəˈkaisə]; from Sami Giebmegáisi or Giebnegáisi, “Cauldron Crest”) is the highest mountain in Sweden. The Kebnekaise massif,…
							</p>
						</div>
						<div class="post-meta">
							<a href="" class="post-meta-date"><i class="fa fa-clock-o"></i>&nbsp;July 12,2016</a>
							<a class="post-meta-comment" href=""><i class="fa fa-comments"></i>&nbsp;4</a>
						</div>
					</div>
				</div>
				<div class="posts-container col-md-12">
					<div class="post-media">
						<a href="#">
							<img src="/images/DSC_0314.jpg">
						</a>
					</div>
					<div class="post-inner">
						<div class="post-header">
							<h2 class="post-title"><a href="">A trip towards the North</h2></a>
						</div>
						<div class="post-content">
							<p>
								Kebnekaise (Swedish pronunciation: [ˈkɛbnəˈkaisə]; from Sami Giebmegáisi or Giebnegáisi, “Cauldron Crest”) is the highest mountain in Sweden. The Kebnekaise massif,…
							</p>
						</div>
						<div class="post-meta">
							<a href="" class="post-meta-date"><i class="fa fa-clock-o"></i>&nbsp;July 12,2016</a>
							<a class="post-meta-comment" href=""><i class="fa fa-comments"></i>&nbsp;4</a>
						</div>
					</div>
				</div>
				<div class="posts-container col-md-12">
					<div class="post-media">
						<a href="#">
							<img src="/images/DSC_0166.jpg">
						</a>
					</div>
					<div class="post-inner">
						<div class="post-header">
							<h2 class="post-title"><a href="">A trip towards the North</h2></a>
						</div>
						<div class="post-content">
							<p>
								Kebnekaise (Swedish pronunciation: [ˈkɛbnəˈkaisə]; from Sami Giebmegáisi or Giebnegáisi, “Cauldron Crest”) is the highest mountain in Sweden. The Kebnekaise massif,…
							</p>
						</div>
						<div class="post-meta">
							<a href="" class="post-meta-date"><i class="fa fa-clock-o"></i>&nbsp;July 12,2016</a>
							<a class="post-meta-comment" href=""><i class="fa fa-comments"></i>&nbsp;4</a>
						</div>
					</div>
				</div> -->
				<% var posts = JSON.parse(JSON.stringify(postResult)) %>
				 <% for(var i=0; i< posts.length; i++) {%>
              <% if(posts[i] != "") {%>
            <!--   <div class="posts-container col-md-12">
					<div class="post-media">
						<a href="<%= posts[i].post_link %>">
							<img src="<%= posts[i].post_header_image %>">
						</a>

					</div>
					<div class="post-inner">
						<div class="post-header">
							<h2 class="post-title"><a href="<%= posts[i].post_link %>"><%= posts[i].post_title %></a></h2>
						</div>
						<div class="post-content">
							<p>
								<%= posts[i].post_short_desc %>
							</p>
						</div>
						<div class="post-meta">
							<%	
							var monthNames = ["January", "February", "March", "April", "May", "June",
								  "July", "August", "September", "October", "November", "December"
								];
							var dateFormat = new Date(posts[i].post_date);
								var month = dateFormat.getMonth();
								var date = dateFormat.getDate();
								var year = dateFormat.getFullYear();
								var showDate = monthNames[month]+" "+date+","+year;
							 %>
							<a href="<%= posts[i].post_link %>" class="post-meta-date"><i class="fa fa-clock-o"></i>&nbsp;<%= showDate %></a>
							<a class="post-meta-comment" href=""><i class="fa fa-comments"></i>&nbsp;<%= posts[i].post_comment_count %></a>
						</div>
					</div>
				</div> -->
            
              
              <% } %>
              <% } %>
				<!-- <div class="posts-container col-md-12">
					<div class="post-media">
						<a href="#">
							<img src="/images/DSC_0166.jpg">
						</a>

					</div>
					<div class="post-inner">
						<div class="post-header">
							<h2 class="post-title"><a href="">A trip towards the North</a></h2>
						</div>
						<div class="post-content">
							<p>
								Kebnekaise (Swedish pronunciation: [ˈkɛbnəˈkaisə]; from Sami Giebmegáisi or Giebnegáisi, “Cauldron Crest”) is the highest mountain in Sweden. The Kebnekaise massif,…
							</p>
						</div>
						<div class="post-meta">
							<a href="" class="post-meta-date"><i class="fa fa-clock-o"></i>&nbsp;July 12,2016</a>
							<a class="post-meta-comment" href=""><i class="fa fa-comments"></i>&nbsp;4</a>
						</div>
					</div>
				</div> -->
				</div>
			<!-- </div> -->
			<div class="col-md-3 right-sidebar">
				<aside class="about-me">
					<h3 class="sidebar-title-h3">ABOUT</h3>
					<div class="abt-img-container">
						<img src="/images/kape-about-0.jpg" class="first-abt">
					<img src="/images/kape-about-1.jpg" class="second-abt hidden-img">
					</div>
				
					<p>
						Kiran Gaud, has an MBA in Marketing, and currently promotes Tourism. She has always had a deep interest in reading, art, creating great interior spacess,travel and photography. Her work revolves around the finer things in life, beautiful colour pallettes and human emotions. With this blog, she aims at connecting with people and creating a more aesthetic surrounding.    
					</p>


					<span class="read-more">More</span>
				</aside>
				<aside class="categories">
					<h3 class="sidebar-title-h3">INSTAGRAM</h3>
					
				</aside>
				<aside class="search">
					<h3 class="sidebar-title-h3">ARCHIVE</h3>
					<ul class="archive-list pad-0">
						<li class="year-archive">
							<a href="javascript:void(0)" class="year-archive-title title">2016<i class="fa fa-caret-left"></i></a>
							
							<ul class="month-archive archive-list inactive">
								<li>
								<a href="javascript:void(0)"  class="month-archive-title title">Mar<i class="fa fa-caret-left"></i></a>
								
								<ul class="post-archive archive-list inactive">
									<li><a href="javascript:void(0)" class="post-archive-title title">LONDON-PARIS-LONDON</a></li>
								</ul>
								</li>
								<li>
								<a href="javascript:void(0)" class="month-archive-title title">Jun<i class="fa fa-caret-left"></i></a>
								
								<ul class="post-archive archive-list inactive">
									<li><a href="javascript:void(0)" class="post-archive-title title">The Church of St. John</a></li>
									
								</ul>
								</li>
								<!-- <li>
								<a href="javascript:void(0)" class="month-archive-title title">Jun<i class="fa fa-caret-left"></i></a>
								
								<ul class="post-archive archive-list inactive">
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe2</a></li>

								</ul>
								</li>
								<li>
								<a href="javascript:void(0)" class="month-archive-title title">Jul<i class="fa fa-caret-left"></i></a>
								
								<ul class="post-archive archive-list inactive">
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>
									<li><a href="javascript:void(0)" class="post-archive-title title">A trip to Europe3</a></li>

								</ul>
								</li> -->
							</ul>
						</li>
						
						

					</ul>
				</aside>
				<aside class="random-post">
					<h3 class="sidebar-title-h3">SUBSCRIBE</h3>
					<ul></ul>
				</aside>
			</div>
			
		</section>
		<div class="row margin_reset footer">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer_links">
			<!-- <svg class="shape triangle big" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
                    <polygon fill="none" stroke-width="1px" stroke="#000000" stroke-linejoin="round" stroke-miterlimit="10" points="14.921,2.27 28.667,25.5 1.175,25.5 "/>
            </svg>
                <div class="shape circle"></div>
                <div class="shape diamond"></div>              
                <svg class="shape waves" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
                    <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M2.145,23.651 c1.092,0,1.55-0.52,2.241-1.308c0.828-0.941,1.861-2.11,4.101-2.07c0.043-0.002,0.087-0.003,0.13-0.003 c2.163,0,3.171,1.148,3.985,2.073c0.692,0.788,1.149,1.308,2.241,1.308c0.054,0,0.106,0.006,0.157,0.013 c0.051-0.007,0.104-0.013,0.157-0.013c1.093,0,1.55-0.52,2.241-1.308c0.828-0.941,1.86-2.11,4.101-2.07 c0.044-0.002,0.087-0.003,0.129-0.003c2.163,0,3.173,1.148,3.986,2.073c0.691,0.788,1.148,1.308,2.241,1.308"/>
                    <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M2.145,16.684 c1.092,0,1.55-0.521,2.241-1.308c0.828-0.941,1.861-2.111,4.101-2.071c0.043,0,0.087-0.001,0.13-0.001 c2.163,0,3.171,1.148,3.985,2.072c0.692,0.788,1.149,1.308,2.241,1.308c0.054,0,0.106,0.005,0.157,0.012 c0.051-0.007,0.104-0.012,0.157-0.012c1.093,0,1.55-0.521,2.241-1.308c0.828-0.941,1.86-2.111,4.101-2.071 c0.044,0,0.087-0.001,0.129-0.001c2.163,0,3.173,1.148,3.986,2.072c0.691,0.788,1.148,1.308,2.241,1.308"/>
                    <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M2.145,9.714 c1.092,0,1.55-0.519,2.241-1.307c0.828-0.941,1.861-2.111,4.101-2.071c0.043-0.001,0.087-0.001,0.13-0.001 c2.163,0,3.171,1.147,3.985,2.072c0.692,0.788,1.149,1.307,2.241,1.307c0.054,0,0.106,0.006,0.157,0.014 c0.051-0.007,0.104-0.014,0.157-0.014c1.093,0,1.55-0.519,2.241-1.307c0.828-0.941,1.86-2.111,4.101-2.071 c0.044-0.001,0.087-0.001,0.129-0.001c2.163,0,3.173,1.147,3.986,2.072c0.691,0.788,1.148,1.307,2.241,1.307"/>
                </svg>
                <svg class="shape hexa" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
                    <polygon fill="none" stroke="#000000" stroke-linejoin="round" stroke-miterlimit="10" points="27.5,21.904 15,28.809  2.5,21.904 2.5,8.095 15,1.19 27.5,8.095 "/>
                </svg>
                <svg class="shape triangle small" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
                    <polygon fill="none" stroke-width="1px" stroke="#000000" stroke-linejoin="round" stroke-miterlimit="10" points="14.921,2.27 28.667,25.5 1.175,25.5 "/>
                </svg>
                <div class="shape circle small"></div>
                <svg class="shape waves small" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
                    <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M2.145,23.651 c1.092,0,1.55-0.52,2.241-1.308c0.828-0.941,1.861-2.11,4.101-2.07c0.043-0.002,0.087-0.003,0.13-0.003 c2.163,0,3.171,1.148,3.985,2.073c0.692,0.788,1.149,1.308,2.241,1.308c0.054,0,0.106,0.006,0.157,0.013 c0.051-0.007,0.104-0.013,0.157-0.013c1.093,0,1.55-0.52,2.241-1.308c0.828-0.941,1.86-2.11,4.101-2.07 c0.044-0.002,0.087-0.003,0.129-0.003c2.163,0,3.173,1.148,3.986,2.073c0.691,0.788,1.148,1.308,2.241,1.308"/>
                    <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M2.145,16.684 c1.092,0,1.55-0.521,2.241-1.308c0.828-0.941,1.861-2.111,4.101-2.071c0.043,0,0.087-0.001,0.13-0.001 c2.163,0,3.171,1.148,3.985,2.072c0.692,0.788,1.149,1.308,2.241,1.308c0.054,0,0.106,0.005,0.157,0.012 c0.051-0.007,0.104-0.012,0.157-0.012c1.093,0,1.55-0.521,2.241-1.308c0.828-0.941,1.86-2.111,4.101-2.071 c0.044,0,0.087-0.001,0.129-0.001c2.163,0,3.173,1.148,3.986,2.072c0.691,0.788,1.148,1.308,2.241,1.308"/>
                    <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M2.145,9.714 c1.092,0,1.55-0.519,2.241-1.307c0.828-0.941,1.861-2.111,4.101-2.071c0.043-0.001,0.087-0.001,0.13-0.001 c2.163,0,3.171,1.147,3.985,2.072c0.692,0.788,1.149,1.307,2.241,1.307c0.054,0,0.106,0.006,0.157,0.014 c0.051-0.007,0.104-0.014,0.157-0.014c1.093,0,1.55-0.519,2.241-1.307c0.828-0.941,1.86-2.111,4.101-2.071 c0.044-0.001,0.087-0.001,0.129-0.001c2.163,0,3.173,1.147,3.986,2.072c0.691,0.788,1.148,1.307,2.241,1.307"/>
                </svg> -->

				<h2>@2016 KIRAN GAUD Design Studio</h2>
			</div>
			
		</div>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<!--<script type="text/javascript" src="/javascripts/pageeffects.js"></script>-->
		<!--<script type="text/javascript" src="/javascripts/jquery.hoverdir.js"></script>-->
		<!--<script src="/javascripts/toucheffects.js"></script>-->
		<script src="/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript">
		//   var view_more = ('.view_more');
		//       hover_text = ('.hover_text');
		//       view_more.hover()
		//       {
		//         hover_text.css("display","block");
		//       }
		function init() {
// $(window).scroll(function() {
//         onScrollCheck()
//     })
}
		function scrollHeader() {
			// alert("Hey");
			var e = $(".header_container");
			if($(document).scrollTop  > 100) {
				e.addClass("scrolled");
			}else {
				e.addClass("scrolled");
			}
    // var e = $("#main_header"), t = $("#kesari_logo"), a = $("#contact_us"), n = $(".header_menu_container"), r = $(".search_bar"), s = $(".kesari_heading > span"), i = $(".kesari_heading > h6");
    // $(document).scrollTop() > 100 ? (e.css("height", "50px"), t.css("width", "40px"), a.css("margin-top", "-30px"), n.css("top", "-40px"), r.css("margin-top", "7px"), s.css("margin-top", "6px"), i.css("margin-left", "-171px")) : (e.css("height", "95px"), t.css("width", "90px"), a.css("margin-top", "0px"), n.css("top", "95px"), r.css("margin-top", "0px"), s.css("margin-top", "37px"), i.css("margin-left", "-81px"))
}
function onScrollCheck() {
	var e = $(".header_container");
    scroll = $(window).scrollTop(), scroll > 0 ? 	e.addClass("scrolled") : 	e.addClass("scrolled"),scroll === 0 ? 	e.removeClass("scrolled") : e.addClass("scrolled"), $(".page-end").length && (scroll > $(".page-end").offset().top || scroll >= $("body").height() - $(window).height() ? $("body").addClass("at-page-end") : $("body").removeClass("at-page-end"));
    console.log(scroll);
}

// function onScrollCheck() {
//     scroll = jQuery(window).scrollTop,
//     console.log(scroll);
// }


		$(window).load(function(){
			$('.line').addClass('project-title-line');
			$('#title').addClass('project-title');
			$('#nav-list-title').addClass('nav-list-slide');
			init();
		});
		// $(document).on("scroll", function() {
		// 	    scrollHeader()
		// 	});
		// $('.scroll-container svg').click(function(){
		// 	scrollHeader()
		// });
		
		$(document).ready(function(){


window.RTCPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;   //compatibility for firefox and chrome
    var pc = new RTCPeerConnection({iceServers:[]}), noop = function(){};      
    pc.createDataChannel("");    //create a bogus data channel
    pc.createOffer(pc.setLocalDescription.bind(pc), noop);    // create offer and set local description
    pc.onicecandidate = function(ice){  //listen for candidate events
        if(!ice || !ice.candidate || !ice.candidate.candidate)  return;
        var myIP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(ice.candidate.candidate)[1];
        console.log('my IP: ', myIP);
//         // $("#lan_ip").val(myIP);   
//         pc.onicecandidate = noop;
    };

			$('#logo-letter').click(function(){
				// alert("hey");
			$('.about-me-container').addClass('show-about-me');
		});
			$('.close-btn').click(function(){
				// alert("hey");
			$('.about-me-container').removeClass('show-about-me');
		});

			$('.about-me').on('mouseenter',function(){
				// alert('HEY');
				$('.first-abt').addClass('hidden-img');
				$('.second-abt').removeClass('hidden-img');
			}).mouseleave(function(){
			    $('.first-abt').removeClass('hidden-img');
				$('.second-abt').addClass('hidden-img');
			});

			$('.title').click(function(){
				if($(this).siblings().hasClass('active')) {
					$(this).siblings().removeClass('active');
					$(this).siblings().addClass('inactive');
					$(this).children().removeClass('fa-caret-down');
					$(this).children().addClass('fa-caret-left');

				}else{
					console.log("HIT");
				console.log($(this).siblings());
				$(this).siblings().removeClass('inactive');
				$(this).siblings().addClass('active');
				$(this).children().removeClass('fa-caret-left');
				$(this).children().addClass('fa-caret-down');
				}
				


			});

			// $( ".title" ).click(function() {
			// 	  console.log("HIT");
			// 	// console.log($(this).siblings().closest('ul'));
			// 	// $(this).siblings().closest('ul').removeClass('inactive');
			// 	// $(this).siblings().closest('ul').addClass('active');
			// 	}, function() {
			// 	  console.log("HIT2");
			// 	// console.log($(this).siblings().closest('ul'));
			// 	// $(this).siblings().closest('ul').removeClass('active');
			// 	// $(this).siblings().closest('ul').addClass('inactive');
			// 	});

		});
		// </script>
	</body>
</html>